<footer class="ph3 ph4-m ph5-ns pt5">
    <div class="center pt5">
    <grid columns=9 columns-s=1>
        <c span=3 span-s=row class="mb4">
            <h3 class="f2 mb1 mt0-ns mt3">Outline Studio</h3>
            <p class="f5 mw6 pr6-ns pr1">We help our partners speak clearly and consistently. Together, we'll find your voice.</p>
            <a href="mailto:hello@outline.studio" class="db f6 f5-ns link dim dark-gray underline">hello@outline.studio</a>
            <a href="tel:+31 20 894 3883" class="db f6 f5-ns link dark-gray dim underline">+31 20 894 3883</a> 
            <small class="f6 dib lh-copy mt4 gray">&copy; Copyright Outline Content Studio B.V.</small>
        </c>
        <c span=3 span-s=row class="mb4">
            <!-- <h3 class="f2 mb1 mt0-ns mt3">More</h3> -->
            <div class="flex flex-row mt5-ns mt3">
                <div>
                    <a class="db link dim dark-gray f6 f5-ns mr3 mr4-ns underline" href="/" title="Home">Home</a>
                    <a class="db link dim dark-gray f6 f5-ns mr3 mr4-ns underline" href="/notes" title="Notes">Notes</a>
                    <a class="db link dim dark-gray f6 f5-ns mr3 mr4-ns underline" href="/case-studies" title="Case Studies">Case Studies</a>
                    <a class="db link dim dark-gray f6 f5-ns underline" href="/contact" title="Contact">Contact</a> 
                </div>
                <div>
                    <a href="https://twitter.com/OutlineAMS" target="_blank" class="db f6 f5-ns link dim dark-gray underline">Twitter &#x2197;</a>
                    <a href="https://www.instagram.com/outlineAMS/" target="_blank" class="db w-100 f6 f5-ns link dim dark-gray underline">Instagram &#x2197;</a>
                </div>
            </div>
        </c>
        <c span=3 span-s=1 class="mb4">
            <h3 class="f2 mb1 mt0-ns mt3">Newsletter</h3>
            <p class="f5 mw6 pr6-ns pr1">For the rare update or project announcement, subscribe to our occasional newsletter.</p>
            <div class="newsletter-form outline-newsletter-form">
                <form action="https://aarongilmore.us20.list-manage.com/subscribe/post?u=6d169c3390932b26783708347&amp;id=bac77300cc" method="post" target="_blank" id="mc-embedded-subscribe-form" novalidate="true">
                    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address">
                    <input type="hidden" value="yes" name="MMERGE31" class="" id="mce-MMERGE31">
                    <input type="hidden" value="Shopify" name="MMERGE32" class="" id="mce-MMERGE32">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6d169c3390932b26783708347_bac77300cc" tabindex="-1" value=""></div>
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="" value="Subscribe ->">
                </form>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                </div>
            <!--End mc_embed_signup-->
        </c>
    </grid>
</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script rel="javascript" src="/assets/js/main.js"></script> 
<script type="text/javascript">
$(function(){
    var url = window.location.pathname, 
    urlRegExp = new RegExp(url == '/' ? window.location.origin + '/?$' : url.replace(/\/$/,''));
        // now grab every link from the navigation
        $('nav div a').each(function(){
            // and test its normalized href against the url pathname regexp
            if(urlRegExp.test(this.href.replace(/\/$/,''))){
                $(this).addClass('active');
            }
        });
});
  </script>