<footer class="ph3 ph4-m ph5-ns pt5 main">
    <div class="mw9 center bt b--light-gray pt5">
    <grid columns=8 columns-s=1>
        <c span=3 span-s=row class="mb4">
            <h3 class="f2 mb1 mt0-ns mt3">Outline Studio</h3>
            <p class="f4 mw6">We help our partners speak clearly and consistently. Together, we'll find your voice.</p>
            <small class="dib lh-copy">&copy; Copyright Outline Content Studio B.V.</small> <!-- 2019 • Based in beautiful Amsterdam, NL &#x2600;-->
        </c>
        <c span=5 span-s=1 class="mb4">
            <div class="flex flex-row-ns flex-column flex-wrap-ns">
                <div class="w-100 w-50-ns pa0 pr5-ns mb4">
                    <h3 class="f2 mb1 mt0-ns mt3">Say Hello</h3>
                    <p>
                        <a href="mailto:hello@outline.studio" class="f4 link dim dark-gray pb1 bb">hello@outline.studio</a> <br>
                        <a href="#" class="f4 link black dim">+31 20 894 3883</a> <br>
                        <a href="https://twitter.com/OutlineAMS" target="_blank" class="f4 link dim dark-gray pb1 bb">Twitter &#x2197;</a> <br>
                        <a href="https://www.instagram.com/outlineAMS/" target="_blank" class="f4 link dim dark-gray pb1 bb">Instagram &#x2197;</a>
                    </p>
                </div>
                <div class="w-100 w-50-ns pa0 pr5-ns mb4">
                        <h3 class="f2 mb1 mt0-ns mt3">Newsletter</h3>
                        <p class="f4 mw6">For the rare update or project announcement, subscribe to our occasional newsletter.</p>
                        <div class="newsletter-form outline-newsletter-form">
                            <form action="https://aarongilmore.us20.list-manage.com/subscribe/post?u=6d169c3390932b26783708347&amp;id=bac77300cc" method="post" target="_blank" id="mc-embedded-subscribe-form" novalidate="true">
                                <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address">
                                <input type="hidden" value="yes" name="MMERGE31" class="" id="mce-MMERGE31">
                                <input type="hidden" value="Shopify" name="MMERGE32" class="" id="mce-MMERGE32">
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6d169c3390932b26783708347_bac77300cc" tabindex="-1" value=""></div>
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="" value="Subscribe">
                            </form>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                            </div>
                        <!--End mc_embed_signup-->
                    </div>
            </div>
        </c>
    </grid>
</div>
</footer>
<footer class="ph3 ph4-m ph5-ns colophon"> 
    <div class="mw9 center pv4">
        <div class="dib w-100 dt">
            <small class="f5-ns fr-ns dib lh-copy">Made in Amsterdam, NL &#x2600;</small>
            <div class="f5-ns ml2-m mt3 mt0-ns" id="nav">
                <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/notes" title="Notes">Notes</a>
                <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/case-studies" title="Case Studies">Case Studies</a>
                <a class="link dim dark-gray f6 f5-ns dib" href="/contact" title="Contact">Contact</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script rel="javascript" src="/assets/js/main.js"></script> 
<script type="text/javascript">
$(function(){
    var url = window.location.pathname, 
    urlRegExp = new RegExp(url == '/' ? window.location.origin + '/?$' : url.replace(/\/$/,''));
        // now grab every link from the navigation
        $('nav a').each(function(){
            // and test its normalized href against the url pathname regexp
            if(urlRegExp.test(this.href.replace(/\/$/,''))){
                $(this).addClass('active');
            }
        });
});
  </script>