<footer class="ph3 ph4-m ph5-ns pv5 bordered main">
    <div class="mw9 center">
    <grid columns=5 columns-s=1>
        <c span=1-2 span-s=row class="mb4">
            <h3 class="f2 mb1 mt0-ns mt3">Outline Studio</h3>
            <p>Together we’ll find your voice.</p>
        </c>
        <c span=1 span-s=row class="mb4">
            <h3 class="f2 mb1 mt0-ns mt3">Say Hello</h3>
            <p>
                <a href="mailto:hello@outline.studio" class="link black underline dim">hello@outline.studio</a> <br>
                <a href="#" class="link black dim">+31 20 336 58 94</a> <br>
                <a href="https://twitter.com/OutlineAMS" target="_blank" class="link black underline dim">Twitter &#x2197;</a> <br>
                <a href="https://www.instagram.com/outlineAMS/" target="_blank" class="link black underline dim">Instagram &#x2197;</a>
            </p>
        </c>
        <c span=2 span-s=row>
            <h3 class="f2 mb1 mt0-ns mt3">Newsletter</h3>
            <p class="mw6">To keep up-to-date with goings-on at Outline Studio, subscribe to our newsletter.</p>
            <div class="newsletter-form outline-newsletter-form">
                <form action="https://aarongilmore.us20.list-manage.com/subscribe/post?u=6d169c3390932b26783708347&amp;id=bac77300cc" method="post" target="_blank" id="mc-embedded-subscribe-form" novalidate="true">
                  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter Email">
                  <input type="hidden" value="yes" name="MMERGE31" class="" id="mce-MMERGE31">
                  <input type="hidden" value="Shopify" name="MMERGE32" class="" id="mce-MMERGE32">
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6d169c3390932b26783708347_bac77300cc" tabindex="-1" value=""></div>
                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="" value="Subscribe">
                </form>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
              </div>
            <!--End mc_embed_signup-->
        </c>
    </grid>
</div>
</footer>
<footer class="ph3 ph4-m ph5-ns colophon">
    <div class="mw9 center pv4">
        <div class="dib w-100 dt">
            <small class="dib lh-copy">&copy; Copyright <em>Outline Content Studio B.V.</em> 2019 • Based in beautiful Amsterdam, NL &#x2600;</small>
            <div class="fr-ns f5-ns ml2-m mt3 mt0-ns" id="nav">
                <a class="link black dim mr4 nav-link" href="/" title="Home">Home</a>
                <a class="link black dim nav-link" href="/contact" title="Contact">Contact</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script rel="javascript" src="/assets/js/main.js"></script> 
<script>
$(document).ready(function(){
  $('#nav a').click(function(){
        $('a').removeClass("active");
        $(this).addClass("active");
    });
});
</script>
<script src="https://static.formx.stream/tracker/v1/bundle.js"></script>