<nav class="w-100 border-box pa3-ns ph3 pv0 ph5-ns bb b--light-gray fixed-ns bg-white">
    <grid columns=8 columns-s=1 class="mv3-ns pt4 pt0-ns">
        <c span=1-2 span-s=1>
          <a class="mid-gray link dim db pr4" href="/" title="Home">
            <img src="/assets/images/logo.svg" class="dib h2" alt="Outline Studio">
          </a>
        </c>  
        <c span=3-6 span-s=1>
          <div class="tl mv2 nav-links">
              <a class="link dim dark-gray f5 dib mr3 mr4-ns" href="/contact" title="Contact">Home</a>
              <a class="link dim dark-gray f5 dib mr3 mr4-ns" href="/notes" title="Notes">Notes</a>
              <a class="link dim dark-gray f6 f5-ns dib" href="/case-studies" title="Case Studies" disabled>Case Studies</a>
          </div>
        </c>
        <c span=7-8 span-s=1>
          <div class="tr-ns mv2 db-ns dn">
              <a class="f6 link dim br-pill ph4 pv3 white bg-dark-gray" href="#0">Contact Us</a>
            <!-- <span class="f5 dib dark-gray js-date-today"></span> -->
          </div>
        </c>
  </nav>