<nav class="dt-ns w-100 border-box pa3 ph5-ns bb b--light-gray fixed-ns bg-white">
  <a class="dtc-ns v-mid mid-gray link dim w-25-ns w-100" href="/" title="Home">
    <img src="/assets/images/logo.svg" class="dib h2 v-mid" alt="Outline Studio">
  </a>
  <div class="dtc-ns v-mid w-75-ns w-100 tr-ns tl mt4 mb2">
    <a class="link dim dark-gray f5 mr3 mr4-ns" href="/" title="Home">Home</a>
    <a class="link dim dark-gray f5 mr3 mr4-ns" href="/notes" title="Notes">Notes</a>
    <a class="f6 link dim br-pill ph4 pv3 white bg-dark-gray" href="/contact">Contact Us</a>
  </div>
</nav>