<nav class="w-100 border-box pa3-ns ph3 pv0 ph5-ns bb b--light-gray fixed-ns bg-white">
    <grid columns=8 columns-s=1 class="mv3-ns mt4">
        <c span=1-2 span-s=1>
          <a class="mid-gray link dim db pr4" href="/" title="Home">
            <img src="/assets/images/logo.svg" class="dib h2" alt="Outline Studio">
          </a>
        </c>  
        <c span=3-6 span-s=1>
          <div class="tl mv2">
              <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/notes" title="Notes">Notes</a>
              <!-- <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/case-studies" title="Case Studies">Case Studies</a> -->
              <a class="link dim dark-gray f6 f5-ns dib" href="/contact" title="Contact">Contact</a>
          </div>
        </c>
        <c span=7-8 span-s=1>
          <div class="tr-ns mv2 db-ns dn">
            <span class="f5 dib dark-gray js-date-today"></span>
          </div>
        </c>
  </nav>