.cta {
    margin-top: 10px;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 2px solid #333333;
    font-weight: 900;
    outline: none;
    display: table;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    text-decoration: none;
   }
   .cta>div {
    padding:19px 15px;
    display:table-cell
   }
   .cta>div:first-of-type {
    -webkit-flex:1;
    -moz-flex:1;
    -ms-flex:1;
    -o-flex:1;
    flex:1;
    padding-left:0;
    border-right:2px solid #dbaa66;
    min-height:35px
   }
   .cta>div:last-of-type {
    padding-right:5px
   }
   .cta>div:last-of-type svg {
    display:block
   }
   .cta>div:last-of-type .cta-arrow {
    stroke:#dbaa66
   }

.outline-cta {
    width: fit-content;
    color: $dark-gray;
    background: none;
    border: 3px solid $dark-gray;
}

.outline-cta:hover,
.outline-cta:active,
.outline-cta:focus,
.outline-cta:active:focus {
    color:#fff;
    background:$dark-gray;
    opacity:1
}

.outline-cta:hover>div:last-of-type .cta-arrow,
.outline-cta:active>div:last-of-type .cta-arrow,
.outline-cta:focus>div:last-of-type .cta-arrow,
.outline-cta:active:focus>div:last-of-type .cta-arrow {
    stroke:#fff
}

.outline-cta>div {
    padding:19px 15px
}

.outline-cta>div:first-of-type {
    padding-right:45px;
    padding-left:23px;
    border-right:none
}

.outline-cta>div:last-of-type {
    padding-right:15px
}

.outline-cta>div:last-of-type .cta-arrow {
    stroke:$dark-gray;
}