@import 'variables';

footer {
    // max-width: 1000px;
    &.colophon {
        @include r(320) {
            text-align: center;
        }
        @include r(600) {
            text-align: left;
        }
        color: #0a121c;
        // border-top: 1px solid #f3dfd8;
    }
}