@import 'variables';

footer {
    background-color: #feede7;
    border-top: 1px solid #eee;
    &.bordered {
        @include r(320) {
            border: none;
        }
        @include r(600) {
            border: 5px solid #000000;
            margin: 20px;
            border-top: 0;
        }
    }
}