.hero {
    background-color: $bottle-green;
    background-image: url("/assets/images/home-background.svg");
    background-position: 0% 300%;
    background-size:750px;
    background-repeat: no-repeat;
}

.bg-notes {
    background-color: $stone;
    background-image: url("/assets/images/notes-background.svg");
    background-position: 0% -100%;
    background-size:750px;
    background-repeat: no-repeat;
}