.hero {
    @include r(320) {
        background-color: $pink;
        background-image: url("/assets/images/background.svg");
        background-position: 0% 30%;
        background-size:750px;
        background-repeat: no-repeat;
    }
    @include r(600) {
        background-color: $pink;
        background-image: url("/assets/images/background.svg");
        background-position: 0% -200%;
        background-size:750px;
        background-repeat: no-repeat;   
    }
}

.bg-notes {
    @include r(320) {
        background-color: $pink;
        background-image: url("/assets/images/background.svg");
        background-position: -30% -250%;
        background-size:750px;
        background-repeat: no-repeat;
    }
    @include r(600) {
        background-color: $pink;
        background-image: url("/assets/images/background.svg");
        background-position: 0% -100%;
        background-size:750px;
        background-repeat: no-repeat;   
    }
}