.hero {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    @include r(320) {
        height: calc(var(--vh, 1vh) * 85 - 100px);
        background-color: $pink;
        background-image: url("/assets/images/background.svg");
        background-position: 0% 30%;
        background-size:750px;
        background-repeat: no-repeat;
    }
    @include r(600) {
        height: calc(var(--vh, 1vh) * 100 - 100px);
        background-color: $pink;
        background-image: url("/assets/images/background.svg");
        background-position: 0% 200%;
        background-size:950px;
        background-repeat: no-repeat;   
    }
    h1 {
        line-height: 1.1em;
        margin-bottom: 0;
        font-family: "Ivar Medium", serif;
        strong {
            font-family: "Ivar Bold", serif;
        }
        @include r(320) {
            font-size: 2.5rem;
        }
    }
}
.hero-slim {
    @include r(320) {
        background-color: $stone;
        background-image: url("/assets/images/background.svg");
        background-position: -10% 40%;
        background-size:500px;
        background-repeat: no-repeat;
    }
    @include r(600) {
        background-color: $stone;
        background-image: url("/assets/images/background.svg");
        background-position: 0% 20%;
        background-size:750px;
        background-repeat: no-repeat;   
    }
}