nav {
    // -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    a {
        color: $gray;
        font-size: 22px;
        font-family: "Inter Light", sans-serif;
    }
    a:active {
        color: $dark-pink;
    }
}