@import "breakpoints";
@import "variables";

nav {
    @include r(320) {
        z-index: 10;
        // height: 20vh;
        background-color: transparent;
        border: none;
        @include r(480) {
            height: 100px;
            top: 0;
            transition: top 0.2s ease-in-out;
        }
        @include r(600) {
            height: 100px;
            top: 0;
            transition: top 0.2s ease-in-out;
        }
        @include r(768) {
            height: 100px;
            top: 0;
            transition: top 0.2s ease-in-out;
        }
    }
    a {
        color: $dark-gray;
        text-transform: uppercase;
        font-size: 1.1em;
        margin-bottom: 7px;
        font-family: "Inter Light", sans-serif;
        @include r(768) {
            font-size: 1.1em;
        }
        &.active {
            text-decoration: underline;
        }
    }
}