.notes {
    h1 {
        @include r(320) {
            margin-top: -2.2em;
            margin-bottom: 1.5em;
        }
        @include r(600) {
            margin-top: 0em;
            margin-bottom: 0.2em;
        }
    }
    div {
        border-bottom: 1px solid $light-gray;
        &:last-child {
            border-bottom: none;
        }
    }
}