@import "breakpoints";
@import "variables";

@font-face {
    font-family: Ivar Bold;
    src: url(/assets/fonts/IvarDisplay-Bold.woff);
  }
  
@font-face {
    font-family: Ivar Medium;
    src: url(/assets/fonts/IvarDisplay-Medium.woff);
}

@font-face {
    font-family: Inter Light;
    src: url(/assets/fonts/Inter-Light-BETA.otf);
}

@font-face {
    font-family: Inter Light Italic;
    src: url(/assets/fonts/Inter-LightItalic-BETA.otf);
}
  
h1, h2, h3, h4 {
    font-family: "Ivar Bold", serif;
    line-height: 1.3;
}

p {
    max-width: 36em;
    color: $dark-gray;
}