@import "breakpoints";
@import "variables";

@font-face {
    font-family: Ivar Bold;
    src: url(/assets/fonts/IvarDisplay-Bold.woff);
  }
  
@font-face {
    font-family: Ivar Medium;
    src: url(/assets/fonts/IvarDisplay-Medium.woff);
}

@font-face {
    font-family: Inter Light;
    src: url(/assets/fonts/Inter-Light-BETA.otf);
}

@font-face {
    font-family: Inter Light Italic;
    src: url(/assets/fonts/Inter-LightItalic-BETA.otf);
}

  
h1 {
    font-family: "Ivar Bold", serif;
    letter-spacing: 0;
    line-height: 1.2;
}

h2, h3, h4 {
    font-family: "Ivar Medium", serif;
    line-height: 1.4;
}

p {
    max-width: 36em;
    color: $dark-gray;
}

.-indent p {
    margin-left: 0em;
    @include breakpoint(sm) {
        margin-left: 2em;
    }
}

.mtm {
    margin-top: 24em;
    @include breakpoint(lg) {
        margin-top: 0em;
    }
}