@import "fluid-type";
@import "typography";
@import "nav";
@import "footer";
@import "variables";
@import "form";
@import "buttons";
@import "hero";
@import "post-images";
@import "notes";

//Mixins
@import "breakpoints";

::selection {
    background-color: #feede7;
}

body {
    padding: 0;
    font-family: "Inter Light", sans-serif;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;
    line-height: 1.5;
}

a:hover {
    color: $dark-gray;
}