@import "fluid-type";
@import "typography";
@import "nav";
@import "footer";
@import "variables";

//Mixins
@import "breakpoints";

body {
    padding: 0;
    background-image: url(/assets/images/background.svg);
    background-repeat: none;
    background-size: cover;
    font-family: "Inter Light", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a:hover {
    color: $dark-pink;
}

a:active {
    color: $dark-pink;
}

.vh-100-calc {
    height: calc(100vh - 156px);
}