@font-face {
  font-family: Ivar Bold;
  src: url(/assets/fonts/IvarHeadline-Bold.otf);
}

@font-face {
  font-family: Ivar Medium;
  src: url(/assets/fonts/IvarHeadline-Medium.otf);
}

@font-face {
    font-family: Inter Light;
    src: url(/assets/fonts/Inter-Light-BETA.otf);
  }
  
  @font-face {
    font-family: Inter Light Italic;
    src: url(/assets/fonts/Inter-LightItalic-BETA.otf);
  }

  body {
    background-image: url(/assets/images/background.svg);
    background-repeat: none;
    background-size: cover;
    font-family: "Inter Light", sans-serif;
  }

  .vh-100 {
    height: 100vh;
  }

  h1.large {
    font-family: "Ivar Bold", serif;
  }

  h2 {
    font-family: "Ivar Medium", serif;
  }

