<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">        
  </head>
  <body>
      {% include header.html %}
      <grid columns=8 columns-s=1 class="vh-100-ns flex flex-row-ns flex-column-m flex-column items-center ph6-ns ph3-m ph3">
        <c span=4 class="w-50-ns w-100-m">
          <h1>Outline Studio</h1>
        </c>
        <c span=4 class="w-50-ns w-100-m -indent">
          {{ content }}
          <form class="contact__form" id="contact_form">
            <div class="contact__form-group form-group relative h3">
              <input type="text" class="form-input contact__input" id="full-name" name="full-name" required="">
              <label for="full-name" class="contact__label">Full Name</label>    
            </div>
            <div class="contact__form-group form-group relative h3">
              <input type="text" class="form-input contact__input" id="company-name" name="company-name" required="">
              <label for="company-name" class="contact__label">Company Name</label>    
            </div>
            <div class="contact__form-group form-group relative h3">
              <input type="email" class="form-input contact__input" id="email" name="email" required="">
              <label for="email" class="contact__label">Email Address</label>    
            </div>
            <input type="submit" name="submit" class="contact__btn" value="Send" id="">
          </form>
        </c>
      </grid>
      {% include footer.html %}     
      <script src="https://static.formx.stream/tracker/v1/bundle.js"></script> 
  </body>
</html>