<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/assets/css/style.css">    
    <link rel="stylesheet" href="/assets/css/raster.css">    
  </head>
  <body>
    <div class="vh-100">
      <grid columns-s=1 columns=2 columns-l=2>
        <c><h1 class="large">Outline Studio</h1></c>
        <c>{{ content }}</c>
      </grid>
    </div>
  </body>
</html>