<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">        
  </head>
  <body>
      {% include header.html %}
      <section class="ph3 ph4-m ph5-ns pt4-ns pb6-ns pv3 ma0 mt6-m pb5 bordered">
          <grid columns=5 columns-s=1 class="mw9 center mt4">
            <c span=2-5 span-s=5 class="ph0 ph4-ns">
                <span class="dib ttu gray">{{ page.categories }}</span>
                <h1 class="f1 mv2">{{ page.title }}</h1>
                <!-- Look the author details up from the site config. -->
                {% assign author = site.data.authors[page.author] %}
                <!-- Output author details if some exist. -->
                {% if author %}
                  <span class="dib mb3">
                      <!-- Personal Info. -->
                      Posted by <a href="{{ author.web }}" class="link dim dark-gray">{{ author.name }}</a> on {{ page.date | date: '%B %d, %Y' }}
                  </span>
                {% endif %}
                {{ content }}
            </c>
          </grid>
      </section>
      <!-- <div class="post-nav">
          <div>
            {% if page.previous.url %}
            <a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
            {% endif %}
          </div>
          <div class="post-nav-next">
            {% if page.next.url %}
            <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
            {% endif %}
          </div>
        </div> -->
      {% include footer.html %}

  </body>
</html>