<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">        
  </head>
  <body>
      {% include header.html %}
      <section class="ph3 ph4-m ph5-ns pt4-ns pb6-ns pv3 ma0 mt6-m pb5 bordered">
          <grid columns=5 columns-s=1 class="mw9 center mt2-ns">
            <c span=5 span-s=5>
                <a href="/" class="link black"><h1 class="ma0">Outline Studio &mdash;</h1></a>
            </c>
            <c span=3-5 span-s=1 class="mv5-ns mv3-m">
              {{ content }}
            </c>
          </grid>
        </section>
      {% include footer.html %}

  </body>
</html>